@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.text-primary {
  cursor: pointer;
  color: blue;
}

.text-secondary {
  cursor: pointer;
  color: green;
}

.text-hover-secondary:hover {
  color: green;
}

.bg-secondary {
  background-color: green;
}

.bg-secondary-light-9 {
  background-color: #e6f2e6;
}

.bg-secondary-dark-5 {
  background-color: #004000;
}

.bg-error {
  background-color: red;
}

.bg-error-light-5 {
  background-color: #ff8080;
}

.text-red {
  cursor: pointer;
  color: #e56919;
}

.text-red-dark-5 {
  color: #73350d;
}

.bg-yellow {
  background-color: #e6e169;
}

.bg-hover-yellow:hover {
  background-color: #e6e169;
}

.bg-yellow-light-5 {
  background-color: #f3f0b4;
}

.bg-green {
  background-color: #19e635;
}

.bg-green-dark-5 {
  background-color: #0d731b;
}

.text-purple {
  cursor: pointer;
  color: #9900ff;
}

.text-purple-light-5 {
  color: #cc80ff;
}

.text-gray {
  cursor: pointer;
  color: #808080;
}

.bg-gray-light-7 {
  background-color: #d9d9d9;
}

.text-hover-black:hover {
  color: black;
}

.text-white {
  cursor: pointer;
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem, 1.5rem;
  border-radius: 20px;
  background-color: #f8f8f8;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem, 1.5rem;
  border-radius: 20px;
  background-color: blue;
  color: #ffff99;
}
.btn-complement-primary:hover {
  color: blue;
  background-color: #ffff99;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem, 1.5rem;
  border-radius: 20px;
  background-color: green;
}
.btn-secondary:hover {
  background-color: #00cd00;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem, 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid green;
}
.btn-outlined-secondary:hover {
  color: white;
  background-color: green;
}

.btn-complement-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem, 1.5rem;
  border-radius: 20px;
  background-color: #e56919;
  color: #a2d4f5;
}
.btn-complement-red:hover {
  color: #e56919;
  background-color: #a2d4f5;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem, 1.5rem;
  border-radius: 20px;
  background-color: #9900ff;
}
.btn-purple:hover {
  background-color: #b84dff;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem, 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #9900ff;
}
.btn-outlined-purple:hover {
  color: white;
  background-color: #9900ff;
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem, 1.5rem;
  border-radius: 20px;
  background-color: #9900ff;
  color: #c2ff99;
}
.btn-complement-purple:hover {
  color: #9900ff;
  background-color: #c2ff99;
}

 .navbar-yellow .container, .navbar-primary .container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

 .navbar-yellow, .navbar-primary {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
 .navbar-yellow .site-title, .navbar-primary .site-title {
  font-size: 1.5rem;
}
.navbar-primary {
  background-color: blue;
}

.navbar-yellow {
  background-color: #e6e169;
}

.badge {
  border-radius: 80px;
  background-color: yellow;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-red {
  border-radius: 80px;
  background-color: #e56919;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-orange {
  border-radius: 80px;
  background-color: #ffa600;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.p-0 {
  padding: 0;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.m-1 {
  margin: 0.75rem;
}

.ml-1 {
  margin-left: 0.75rem;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.display-f {
  display: flex;
}

.font-md {
  font-size: 1rem;
}

.font-xxl {
  font-size: 3rem;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: pink;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: purple;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.justify-center {
  justify-content: center;
}

@media (min-width: 0) {
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 720px) {
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 960px) {
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}